
body{
    margin:0px;
    text-align: center;
    font-family:s;
    font-family: 'Merriweather',serif;
    color:#40514E;
}
h1{
    color:#66BFBF;
    margin: 50px auto 0 auto; 
    font-family: 'Sacramento',cursive; 
    font-size: 5.62em; /*100% mean 16px. if we want 90px then 90/16=5.62*/    
}
h2{
    color:#66BFBF;
    font-family: 'Montserrat',sans-serif;
    font-weight:normal;
    margin: 10px none;
}
h3{
    color:#66BFBF;
    font-family: 'Montserrat',sans-serif;
}
.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}
.middle-container{
   margin:100px auto;
}
.bottom-container{
    background-color: #66BFBF;
    padding:50px 0 20px ;
}
.bottom-cloud{
    position: absolute;
    bottom:300px;
    left:300px;
    
}
a{
    font-family: 'Montserrat',sans-serif;
    color:#168789;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color:#dcefeb;

}
.copyright{
    color:#EAF6F6;
    font-size: 70%;
    padding: 20px auto;
}
.top-cloud{
    position: absolute;
    top: 100px;
    right:300px;
}
.class{
    position: relative;
    top:100px;
    bottom: 100px;
}
.main-title{
    font: size 2.5rem;;
}
.skill-row{
    width:50%;
    margin:100px auto;
    text-align: left;
    
}
.cpp-img{
    float:left;
    width:25%;
    margin-right: 30px;
}
.python-img{
    float:right;
    width:25%;
    margin-left: 30px;
}
.profile-img{
    width:25%;
}
.intro-paragraph{
    width:25%;
    margin: auto;
}
.contact{
    width: 40%;
    margin:40px auto 60px;
}
hr{
    border:none;
    border-top: dotted;
    border-width: 8px;
    width:10%;
    border-color: #EAF6F6;
    margin:100px auto;
}
p{
    line-height: 2;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat',sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }